[Unit]
Description=Ethereum Delegated Transactions Service

[Service]
Type=simple
Environment="MONGODB_URL=mongodb://localhost:27017"
Restart=always
RestartSec=1s
ExecStart=/usr/bin/npm run start
WorkingDirectory=/home/zitro/apps/ethereum-delegated-tx-service

[Install]
WantedBy=multi-user.target
